---
---

//
// IMPORTS
//
@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

#categoryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.6rem;
  // display: table;
  // table-layout: fixed;
  position: relative;
  // border-bottom: 1px solid black;
  text-align: center;
  
  @include mobile {
    display: block;
    border-bottom: none;
  }
}

#categoryContainer .categoryGroup {
  display: table;
  table-layout: fixed;
  border-bottom: 1px solid black;
  position: relative;
  text-align: center;

  margin: 0 2rem 0 0;
  
  @include mobile {
    display: block;
    border-bottom: none;
  }
}
// #categoryContainer .categoryGroup::before {
//   position: absolute;
//   // display: block;
//   top: 0;
//   width: 100%;
//   height: 10px;
//   color: red;
//   background-color: purple;
//   content: '';
//   z-index: 10;
// }

#categoryContainer .category {
  color: black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 20px;
  margin: 0 1rem 0 0;
  cursor: pointer;
  position:relative;
  border-radius: 1rem;
  display: table-cell;
  text-align: center;

  
  transition: font-size ease-out 100ms;

  @include mobile {
    display: inline-block;
    font-size: 1.2rem;
  }
  
}

#categoryContainer .category::after {
  content: '';
  color: black;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 10;
  transition: height ease-out 200ms;

  @include mobile {
    height: 2px;
  }
}

#categoryContainer .category:hover::after {
  height: 1rem;
}

#categoryContainer .selected::after {
  height: 1rem;
}

html {
  font-size: 100%;
}

body {
	background: $lightGray;
  font: 18px/1.4 $segoi;
  color: $darkGray;

  background-image: url("https://images.unsplash.com/photo-1628882836842-d5ffd7c7278e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2604&q=80");
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: $MAXWIDTH;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.masthead {
  height: 10rem;
}

.mastheadspacer {
  padding: 20px 0;
  background-image: url('images/top_panel.jpg'); // top_panel.jpg is from https://unsplash.com/photos/Dr8jO199ORY
  background-color: $purple;
  position: absolute;
  left: 0;
  right: 0;
  height: 10rem;
  z-index: -1;
  
  border-bottom: 1px solid black;

  @include mobile {
    text-align: center;
  }
}


.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;
  max-width: $MAXWIDTH;
  height: 100%;
  align-items: center;
  display: flex;
}

.site-name {
  margin: 0;
  color: black;
  cursor: pointer;
  font-family: $segoi;
  font-weight: 500;
  font-size: 50px;
  float: left;
  
  transition: font-size ease-out 100ms;
  
  @include mobile {
    font-size: 35px;
  }
}

.site-description {
  margin: 0 0 0 0;
  color: $gray;
  font-size: 30px;

  @include mobile {
    margin: 3px 0;
  }
  
  float: left;
}

nav {
  float: right;
  font-family: $segoi;
  font-size: 35px;
  font-weight: 400;
  
  height: 100%;
  align-items: center;
  display: flex;
  
  transition: font-size ease-out 100ms;

  @include mobile {
    float: right;
    // margin-top: 9px;
    // display: block;
    font-size: 24px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts .post {
  border-radius: 1rem;
  margin: 0 1rem 1rem 0;
  padding: 1rem;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  
  float: left;
  width: 350px;
  height: 400px;
  position: relative;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.posts .hiddenpost {
  display: none;
  visibility: hidden;
}

.posts .post .posttitle {
  background: black;
  position:absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  margin: 0;
  color:white;
  padding: 1rem 0 0 0;
  font-size: 1.4rem;
  opacity: 0;
  border-radius: 1rem 1rem 0 0;
  transition: opacity ease-out 200ms;
  @include mobile {
    opacity: 1;
  }
}

.posts .post:hover .posttitle{
  opacity: 1;
}

// {{ post.excerpt }} comes with a p
.posts .post p {
  margin: 0;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 20px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
